/* ##################### */
/* #### Les colones ####
/* ##################### */

@media screen and (min-width: 1200px){		
.col-lg-1	{width:4.16666666666667%;}	
.col-lg-2	{width:8.33333333333333%;}	
.col-lg-3	{width:12,5%;}	
.col-lg-4	{width:16.6666666666667%;}	
.col-lg-5	{width:20.8333333333333%;}	
.col-lg-6	{width:25%;}	
.col-lg-7	{width:29.1666666666667%;}	
.col-lg-8	{width:33.3333333333333%;}	
.col-lg-9	{width:37.5%;}	
.col-lg-10	{width:41.6666666666667%;}	
.col-lg-11	{width:45.8333333333333%;}	
.col-lg-12	{width:50%;}	
.col-lg-13	{width:54.1666666666667%;}	
.col-lg-14	{width:58.3333333333333%;}	
.col-lg-15	{width:62.5%;}	
.col-lg-16	{width:66.6666666666667%;}	
.col-lg-17	{width:70.8333333333333%;}	
.col-lg-18	{width:75%;}	
.col-lg-19	{width:79.1666666666667%;}	
.col-lg-20	{width:83.3333333333333%;}	
.col-lg-21	{width:87.5%;}	
.col-lg-22	{width:91.6666666666667%;}	
.col-lg-23	{width:95.8333333333333%;}	
.col-lg-24	{width:100%;}	
.hidden-lg {display: none;}
}		


/* Ecran moyen */
@media screen and (min-width: 768px) and (max-width: 1199px){		
.col-md-1	{width:4.16666666666667%;}	
.col-md-2	{width:8.33333333333333%;}	
.col-md-3	{width:12.5%;}	
.col-md-4	{width:16.6666666666667%;}	
.col-md-5	{width:20.8333333333333%;}	
.col-md-6	{width:25%;}	
.col-md-7	{width:29.1666666666667%;}	
.col-md-8	{width:33.3333333333333%;}	
.col-md-9	{width:37.5%;}	
.col-md-10	{width:41,6666666666667%;}	
.col-md-11	{width:45.8333333333333%;}	
.col-md-12	{width:50%;}	
.col-md-13	{width:54.1666666666667%;}	
.col-md-14	{width:58.3333333333333%;}	
.col-md-15	{width:62.5%;}	
.col-md-16	{width:66.6666666666667%;}	
.col-md-17	{width:70.8333333333333%;}	
.col-md-18	{width:75%;}	
.col-md-19	{width:79.1666666666667%;}	
.col-md-20	{width:83.3333333333333%;}	
.col-md-21	{width:87.5%;}	
.col-md-22	{width:91.6666666666667%;}	
.col-md-23	{width:95.8333333333333%;}	
.col-md-24	{width:100%;}
.hidden-md {display: none;}
}		


/* Petit écran */
@media (max-width: 768px){		
.col-xs-1	{width:4.16666666666667%;}	
.col-xs-2	{width:8.33333333333333%;}	
.col-xs-3	{width:12.5%;}	
.col-xs-4	{width:16.6666666666667%;}	
.col-xs-5	{width:20.8333333333333%;}	
.col-xs-6	{width:25%;}	
.col-xs-7	{width:29.1666666666667%;}	
.col-xs-8	{width:33%;}	
.col-xs-9	{width:37.5%;}	
.col-xs-10	{width:41.6666666666667%;}	
.col-xs-11	{width:45.8333333333333%;}	
.col-xs-12	{width:50%;}	
.col-xs-13	{width:54.1666666666667%;}	
.col-xs-14	{width:58.3333333333333%;}	
.col-xs-15	{width:62.5%;}	
.col-xs-16	{width:66.6666666666667%;}	
.col-xs-17	{width:70.8333333333333%;}	
.col-xs-18	{width:75%;}	
.col-xs-19	{width:79.1666666666667%;}	
.col-xs-20	{width:83.3333333333333%;}	
.col-xs-21	{width:87.5%;}	
.col-xs-22	{width:91.6666666666667%;}	
.col-xs-23	{width:95.8333333333333%;}	
.col-xs-24	{width:100%;}
.hiddn-xs {display: none;}
}

/* Disparaitre */
hidden {display: none;}
	
/* ######################## */
/* ## Container et ligne ## */
/* ######################## */

.container
{
	width:1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color:black;
}
@media (max-width: 1170px){	
    .container
    {
        width: 100%;
    }
}
.container-fluid
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.line  /* Ligne */
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


/* ##################### */
/* # Placement flexbox # */
/* ##################### */

/* Grand écran */
.just-lg-between {justify-content: space-between; }
.just-lg-around { justify-content: space-around; }
.just-lg-start{ justify-content: flex-start; }
.just-lg-end { justify-content: flex-end; }
.just-lg-center { justify-content: center; }


/* Ecran moyen */
@media screen and (min-width: 769px) and (max-width: 1199px){	
.just-md-between {justify-content: space-between; }
.just-md-around { justify-content: space-around; }
.just-md-start{ justify-content: flex-start; }
.just-md-end { justify-content: flex-end; }
.just-md-center { justify-content: center; }   
}
/* Petit écran */
@media (max-width: 768px){	
.just-xs-between {justify-content: space-between; }
.just-xs-around { justify-content: space-around; }
.just-xs-start{ justify-content: flex-start; }
.just-xs-end { justify-content: flex-end; }
.just-xs-center { justify-content: center; }   
}

/* ############################### */
/* # Placement flexbox direction # */
/* ############################### */

/* Grand écran */
.flex-lg-column{ flex-direction: column;}
.flex-lg-column-reverse { flex-direction: column-reverse;}
.flex-lg-row{ flex-direction: row; }
.flex-lg-row-reverse{ flex-direction: row-reverse;}

/* Ecran moyen */
@media screen and (min-width: 769px) and (max-width: 1199px){	
.flex-md-column{ flex-direction: column;}
.flex-md-column-reverse { flex-direction: column-reverse;}
.flex-md-row{ flex-direction: row; }
.flex-md-row-reverse{ flex-direction: row-reverse;}
}
/* Petit écran */
@media (max-width: 768px){	
.flex-xs-column{ flex-direction: column;}
.flex-xs-column-reverse { flex-direction: column-reverse;}
.flex-xs-row{ flex-direction: row; }
.flex-xs-row-reverse{ flex-direction: row-reverse;}
}

/* ##################### */
/* #### Align-Item ##### */
/* ##################### */

/* Grand écran */
.align-lg-center {align-items:center;}
.align-lg-start {align-items: flex-start;}
.align-lg-end {align-items: flex-end;}
.align-lg-stretch {align-items: stretch;}

/* Ecran moyen */
@media screen and (min-width: 769px) and (max-width: 1199px){	
.align-md-center {align-items:center;}
.align-md-start {align-items: flex-start;}
.align-md-end {align-items: flex-end;}
.align-md-stretch {align-items: stretch;}       
}

/* Petit écran */
@media (max-width: 768px){	
.align-xs-center {align-items:center;}
.align-xs-start {align-items: flex-start;}
.align-xs-end {align-items: flex-end;}
.align-xs-stretch {align-items: stretch;}  
}
/* ##################### */
/* # Paramètre general # */
/* ##################### */
.text-center
{
    text-align: center;
}
.color-white
{
    color:white;
}
.color-blue
{
    color:#00a99d;
}
@font-face {
    font-family: police1;
    src: url(font/police1.ttf);
}
body
{
    margin: 0;
    padding: 0;
    background-image: url('../background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}