/*@import "css_gauges_rotate.css";/**/

.progress-circle{
  display: inline-block;
  position: relative;             /* pour servir de rÃ©fÃ©rent */
  box-sizing: border-box;         /* prise en compte bordure dans la dimension */
  font-size: 10em;
  text-align: center;
  color: #ccc;
  width: 120px;                     /* fixe la largeur */
  height: 120px;                    /* fixe la hauteur */
  margin: 0 .1em;
  border-width: .15em;
  border-style: solid;
  border-radius: 50%;             /* rendu aspect circulaire */
  border: 4px solid #00a99d;       /* couleur de fond de la barre */
  background-color: #383838;         /* couleur de fond de l'anneau */
}
.progress-masque {
  position: absolute;
  width: 1em;                     /* 100% de la largeur */
  height: 1em;                    /* 100% de la hauteur */
  left: -.15em;                   /* dÃ©calage de la largeur bordure de la gauge */
  top: -.15em;                    /* dÃ©calage de la largeur bordure de la gauge */
  clip: rect(0, 1em, 1em, .5em);  /* par dÃ©faut seule la partie droite est visible */
  border-color: #069;             /* couleur par dÃ©faut de la barre */
}

/* mise en place de la valeur */
._progress-circle:after {
  display: block;
  content: attr(data-value) "%";
  font-size:.2em;                 /* rapport 1/.2 = 5 */
  line-height:3em;                /* font-size * line-height = */
/*
  border-radius: 50%;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .5) inset;
/**/
}

._progress-circle:after {
  content: attr(data-value) "%";
  position: absolute;
  font-size:.2em;                 /* rapport 1/.2 = 5 */      
  top: 50%;                       /* centrage vertical */
  transform: translateY(-50%);
  display: inline-block;
  line-height: normal;            /* annule par dÃ©faut */
  right: 0;                       /* doit prendre toute la largeur pour Ãªtre centrÃ© */
  left: 0;
}


.progress-circle:after {
  content: attr(data-value) "%";
  font-size: 0.15em;
/*  line-height: normal;/*--*/
/*  right: 0px; /*--*/
/*  left: 0px; /*--*/
  height: 100%;  
/*  background: #FFF;  /* background du parent */
/*  vertical-align: middle;/*--*/
  display: flex;
/*  position: absolute;/*--*/
/*
  top: 50%;
  transform: translateY(-50%);
/*-- inutile avec flex --*/  
  align-items: center;
/*  text-align: center;/*--*/
  justify-content: center;

/**/    
  border-radius: 50%;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .5) inset;   
/*-- --*/  
}


.progress-barre,
.progress-sup50 {
  position: absolute;
  box-sizing: border-box;
  border-width: .15em;            /* largeur bordure de la gauge */
  border-style: solid;
  border-color: inherit;          /* couleur de la barre d'avancement */
  border-radius: 50%;
  width: 1em;                     /* largeur Ã  100% */
  height: 1em;                    /* hauteur Ã  100% */
  transform: rotate(0deg);
}
.progress-barre {
  clip: rect(0, .5em, 1em, 0);
}
.progress-sup50 {
  display:none;
  clip: rect(0, 1em, 1em, .5em);
}
/**
* Gestion des valeurs supÃ©rieures Ã  50%
**/
/* suppression gestion par class suplÃ©mentaire 
.progress-circle[class*=sup50] .progress-masque {
  clip: rect(auto, auto, auto, auto);
}
.progress-circle[class*=sup50] .progress-sup50 {
  display:block;
}
/**/
.progress-circle[data-value^='5']:not([data-value='5']):not([data-value^='5.']) .progress-masque,
.progress-circle[data-value^='6']:not([data-value='6']):not([data-value^='6.']) .progress-masque,
.progress-circle[data-value^='7']:not([data-value='7']):not([data-value^='7.']) .progress-masque,
.progress-circle[data-value^='8']:not([data-value='8']):not([data-value^='8.']) .progress-masque,
.progress-circle[data-value^='9']:not([data-value='9']):not([data-value^='9.']) .progress-masque,
.progress-circle[data-value^='100'] .progress-masque{
  clip: rect(auto, auto, auto, auto);
}
.progress-circle[data-value^='5']:not([data-value='5']):not([data-value^='5.']) .progress-sup50,
.progress-circle[data-value^='6']:not([data-value='6']):not([data-value^='6.']) .progress-sup50,
.progress-circle[data-value^='7']:not([data-value='7']):not([data-value^='7.']) .progress-sup50,
.progress-circle[data-value^='8']:not([data-value='8']):not([data-value^='8.']) .progress-sup50,
.progress-circle[data-value^='9']:not([data-value='9']):not([data-value^='9.']) .progress-sup50,
.progress-circle[data-value^='100'] .progress-sup50{
  display:block;
}
/**
* Templates personnalisÃ©s
**/
.progress-circle.thin,
.progress-circle.thin .progress-barre,
.progress-circle.thin .progress-sup50 {
  border-width: .075em;           /* largeur bordure de la gauge */
}
.progress-circle.thin .progress-masque {
  left:-.075em;                   /* largeur bordure gauge */
  top:-.075em;                    /* largeur bordure gauge */
}



/*///////////////////////////////*/
.progress-circle.thick,
.progress-circle.thick .progress-barre,
.progress-circle.thick .progress-sup50 {
  border-width: .225em;           /* largeur bordure de la gauge */
}
.progress-circle.thick .progress-masque {
  left:-.225em;                   /* largeur bordure gauge */
  top:-.225em;                    /* largeur bordure gauge */
}

