.films
{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #383838;
    height: 150px;
}
.film
{
    color: white;
}
.exemple_titre
{
    background-color: black;
    color:white;
}
th
{
    
}
